.tiny5-regular {
  font-family: "Tiny5", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.jersey-15-regular {
  font-family: "Jersey 15", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {background-color: rgb(0, 0, 0);}
title {
  font-family: 'Jersey 15', sans-serif;
  color: rgb(255, 255, 255);
}
navbar {
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  font-family: 'Jersey 15', sans-serif;
}


h1{font-family: 'Tiny5', sans-serif;
  color: rgb(255, 255, 255);
  font-size: 80px;}



h2{font-family: 'Jersey 15', sans-serif;
  color: rgb(255, 255, 255);
  font-size: 45px;}

h3{font-family: 'Jersey 15', sans-serif;
  color: rgb(255, 255, 255);
  font-size: 30px;}
  .initials {
  margin-left: auto; 
  color: white;
  padding: 14px 16px;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
}
  .nav-links {
  margin-left: auto; 
}


label {
  font-family: 'Jersey 15', sans-serif;
  color: rgb(255, 255, 255);
  font-size: 20px;
}