.tiny5-regular {
  font-family: "Tiny5", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.jersey-15-regular {
  font-family: "Jersey 15", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {background-color: rgb(0, 0, 0);}

h1{font-family: 'Tiny5', sans-serif;
  color: rgb(255, 255, 255);
  font-size: 80px;}



h2{font-family: 'Jersey 15', sans-serif;
  color: rgb(255, 255, 255);
  font-size: 60px;}

