.annie-use-your-telescope-regular {
  font-family: "Annie Use Your Telescope", cursive;
  font-weight: 400;
  font-style: normal;
}

.rock-3d-regular {
  font-family: "Rock 3D", system-ui;
  font-weight: 400;
  font-style: normal;
}


body.home {background-color: rgb(59, 47, 47);}
body.about {background-color: rgb(233, 75, 60);}
body.project {background-color: rgb(78, 197, 193);}
body.contacts {background-color: rgb(84, 194, 88);}



title {
  font-family: 'Rock 3D', sans-serif;
  color: rgb(255, 255, 255);
}
navbar {
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  font-family: 'Rock 3D', sans-serif;
}


h1{font-family: 'Rock 3D', sans-serif;
  color: rgb(255, 255, 255);
  font-size: 80px;}



h2{font-family: 'Annie Use Your Telescope', cursive;
  color: rgb(255, 255, 255);
  font-size: 30px;}

h3{font-family: 'Annie Use Your Telescope', cursive;
  color: rgb(255, 255, 255);
  font-size: 30px;}
  .initials {
  margin-left: auto; 
  color: white;
  padding: 14px 16px;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
}
  .nav-links {
  margin-left: auto; 
}


label {
  font-family: 'Annie Use Your Telescope', cursive;
  color: rgb(255, 255, 255);
  font-size: 20px;
}