     
     
     Background Colors
      ------------------ */
      body {background-color: rgb(0, 0, 0);}


      
      font types
      ------------------ */
      h1 {font-family: "Special Elite", system-ui;}
      h2 {font-family: "Special Elite", system-ui;}
      h3 {font-family: "Annie Use Your Telescope", cursive;}
      footer {font-family: Arial, sans-serif;}
      p {font-family: "Nanum Pen Script", cursive;}
      nav {font-family: "Rock 3D", system-ui;}
 

      font colours
        ------------------ */
        h1 {color: rgb(255, 255, 255);}
        h2 {color: white;}
        h3 {color: white;}
        footer {color: black;}
        p {color: white;}
        nav {color: white;}

        font sizes
        ------------------ */
        h1 {font-size: 100px;}
        h2 {font-size: 30px;}
        h3 {font-size: 24px;}
        footer {font-size: 14px;}
        p {font-size: 16px;}
        nav {font-size: 18px;}
