     
     
     Background Colors
      ------------------ */
     
     body {background-color: rgb(0, 0, 0);}
     

      font types
      ------------------ */
     h1 {font-family: Arial, sans-serif;}
      h2 {font-family: Arial, sans-serif;}
      h3 {font-family: Arial, sans-serif;}
      footer {font-family: Arial, sans-serif;}
      p {font-family: Arial, sans-serif;}
      nav {font-family: Arial, sans-serif;}

      font colours
        ------------------ */
        h1 {color: black;}
        h2 {color: white;}
        h3 {color: white;}
        footer {color: black;}
        p {color: white;}
        nav {color: white;}

        font sizes
        ------------------ */
        